/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require normalize-rails

 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

* {
  font-family: 'Comic Sans MS', sans-serif;
}

html {
  min-height: 100%;
}

body.body {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bangers', 'Comic Sans MS', sans-serif;
}

header {
  z-index: 1;
}

nav.top-bar {
  background-color: #00ACEE;
}

nav.top-bar .button, .hollow, nav.top-bar .dropbtn {
  color: #FFEE1D;
  font-size: 1em;
  border: solid 2px #FFEE1D;
  margin: 10px 5px;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 10;
  position: absolute;
}

.left {
  display: flex;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 10px 16px 10px 16px;
  font-size: 16px;
  border: none;
}

/*.dropbtn:hover {

}*/

/* The container <div> - needed to position the dropdown content */
.has-dropdown {
  margin-top: 3vh;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -1rem;
  top: 2.2rem;
}

/* Links inside the dropdown */
.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  color: white;
  border: 1px solid white;
}

/* Show the dropdown menu on hover */
.has-dropdown:hover .dropdown {
  display: block;
  background-color: #EC173A
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.has-dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
    background-color: #00ACEE;
    color: #FFEE1D;
}
.dropdown li {
  list-style-type: none;


}



.right {
  display: flex;
}

/* search bar  */

.form-inline {
  display: flex;
  width: 30vw;
  justify-content: center;
}

#search {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-right: 0;
}

.button {
  margin-bottom: 0;
}

input[name="search"] {
  border: none;
  margin: 15px 10px;
}

input[name="search"]::placeholder {
  color: #000;
}

/* main styles  */

main {
  padding: 20px;
}


/*

.float-right {
  margin-right: auto;
}


.side-nav {
  border-right: solid 1px rgb(210, 210, 210);
  border-bottom: solid 1px rgb(210, 210, 210);
  border-top: solid 1px rgb(210, 210, 210);
  box-shadow: 0 1px 1px 0;
}

.nav-categories {
  margin-left: 1.5vw;
}


.login {
  padding-right: 2vw;
}

.cart {
  border-left: solid 2px #FFEE1D;
  padding-left: 2vw;
}

main {
  min-height: auto;
  position: absolute;
  padding-top: 80px;
}


.reviews {
  border-top: 1px solid rgb(134, 129, 129);
}

.reviews ul {
  list-style-type: none;
}

.existing-reviews {
  padding-top: 5vh;
  width: 70vw;
}

.existing-reviews > ul > li {
  border-bottom: 1px solid rgb(203, 203, 203);
}

.existing-reviews > ul > li:first-of-type {
  border-bottom: 1px solid rgb(203, 203, 203);
  border-top: 1px solid rgb(203, 203, 203);
}

.review-form {
  width: 45vw;
}

.search-bar.button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 80px;
  height: 2.4375rem;
}
*/

/* footer styles */

footer {
  background-color: rgb(255, 232, 10);
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
footer h4 {
  color: #EC173A;
  text-shadow: 2px 2px 4px #000000;
}

.body-button {
  background-color: #FFEE1D;
  color: #00ACEE;
  font-weight: bold;
  box-shadow: -2px 2px 4px #000000;
}

.button:hover {
  background-color: #00ACEE;
  color: #FFEE1D;
}

.manage-products-button {
  float: right;
}

.orders-title, .products-title {
  display: inline;
  margin: 50px auto;
}

.table {
  margin: 30px auto;
}

h3 {
  margin: 30px auto;
}

.status-submit {
  margin-left: 20px;
  height: 40px;
}

.by-status {
  margin-top: 30px;
  width: 200px;
}
