// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section.banner {
  height: 100vh;
  background: pink;
  background-image: radial-gradient(dodgerblue 20%, transparent 0), radial-gradient(dodgerblue 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
