// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section.banner {
  height: 100vh;
  background:
  linear-gradient(135deg, #FFEE1D 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #FFEE1D 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #FFEE1D 25%, transparent 25%),
  linear-gradient(45deg, #FFEE1D 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #00ACEE;
}
